{% extends "base_generic.html" %}

{% block content %}
<h1>Вход</h1>
{% if form.errors %}
<p>Ваше имя пользователя и пароль не совпадают. </p><p>Пожалуйста попробуйте еще раз.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p></p>
    {% else %}
    <p>Войдите в систему для получения доступа</p>
    <p>к данной странице.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td >{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input class="buv-c-center-button" type="submit" value="Вход" />
<input type="hidden" name="next" value="{{ next }}" />
</form>


{% endblock %}