{% extends 'base_generic.html' %}

{% block content %}

    <!-- Award -->
    {% block award %}
<!--        <div class="issuer-logo">-->
<!--            <img src="{{ logoImg }}" alt="Logo"/>-->
<!--        </div>-->
<!--        <div class="certificate-owner">-->
<!--            <h1>{{ name }}</h1>-->
<!--        </div>-->

        <div class="certificate-meta">
            <span class="certificate-name">{{ buyer }}</span>
            <span class="certificate-name">{{ supplier }}</span>
<!--            <span class="issuer-name">{{ organization }}</span>-->

        </div>

        <div class="certificate-description">
<!--            <p>{{ text }}</p>-->
            <p class="date-span">Подписан: {{ issued_on }}</p>
        </div>
        <div class="sinature">
            <p style="display: inline;">Подписал: {{ responsible_job }} {{responsible_name}} </p>
            <img src="{{ signature_img }}" id="signature-img" alt="Signature"/>
        </div>



    {% endblock %}
<!--    <div class="certificate-signature">-->

<!--        <p>{{ organization }} подписал в цифровом виде диплом и выпустил его в блокчейне <span class="chain">{{ award.chain }}.</span></p>-->
<!--                <img src="{{ sealImg }}" id="seal-img" alt="Seal" style="max-width: 34%;-->
<!--    float: right;"/>-->

<!--    </div>-->
    <div class="verify">

        <button id="verify-button" value="{{ verification_info }}" class="buv-c-verify-button_award">Проверить диплом</button>
        {% if ver_responce == 1 %}
        <p class="verified"><img id="verified-icon" src="/static/img/verified.png" style="max-width: 36px;max-height: 36px;"> Диплом правильный </p>
        {% elif ver_responce == 2 %}
        <p class="not-verified"><img id="recall-icon"
                                                          src="/static/img/not-verified.png" style="max-width: 36px;max-height: 36px;"> Диплом отозван </p>
        {% else %}
        <p class="not-verified"><img id="not-verified-icon"
                                                          src="/static/img/not-verified.png" style="max-width: 36px;max-height: 36px;"> Диплом не правильный </p>
        {% endif %}
    </div>





<!--    <div class="issuer-id">-->
<!--        <strong>Сайт:</strong> <span class="issuer-id-url"><a style="cursor: pointer;text-decoration: none;color: inherit;font-size: 18px;" href="{{ url }}" target="_blank">{{ url }}</a></span>-->
<!--        <strong>Почта:</strong> <span class="issuer-id-url"><a style="cursor: pointer;text-decoration: none;color: inherit;font-size: 18px;" href="{{ email }}" target="_blank">{{ email }}</a></span>-->
<!--    </div>-->

    <a href="{% url 'index' %}" class="back-button">Проверить другой диплом</a>
{% endblock %}
