{% extends 'base_generic.html' %}

{% block content %}

    <!-- Award -->
    {% block award %}
<!--        <div class="issuer-logo">-->
<!--            <img src="{{ logoImg }}" alt="Logo"/>-->
<!--        </div>-->
<!--        <div class="certificate-owner">-->
<!--            <h1>{{ name }}</h1>-->
<!--        </div>-->

        <div class="certificate-meta">
            <span class="certificate-name"> Покупатель: {{ buyer }}</span>
            <span class="certificate-name">Поставщик: {{ supplier }}</span>
<!--            <span class="issuer-name">{{ organization }}</span>-->

        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Наименование товара</th>
                    <th>Ед. изм</th>
                    <th>Кол–во товара</th>
                    <th>Цена за единицу в руб., без  НДС </th>
                    <th>Страна происхождения товара</th>
                </tr>
            </thead>
            <tbody>
                {% for item in specification%}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{item.unit_of_measurement}}</td>
                    <td>{{ item.amount }}</td>
                    <td>{{ item.unit_price }}</td>
                    <td>{{ item.country }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="certificate-description">
<!--            <p>{{ text }}</p>-->
            <p class="date-span">Подписан: {{ issued_on }}</p>
        </div>
        <div class="sinature">
            <p style="display: inline;">Подписал: {{ responsible_job }} {{responsible_name}} </p>
            <img src="{{ signature_img }}" id="signature-img" alt="Signature" style="width: 20%;height:20%;float: right;"/>
        </div>



    {% endblock %}
<!--    <div class="certificate-signature">-->

<!--        <p>{{ organization }} подписал в цифровом виде диплом и выпустил его в блокчейне <span class="chain">{{ award.chain }}.</span></p>-->
<!--                <img src="{{ sealImg }}" id="seal-img" alt="Seal" style="max-width: 34%;-->
<!--    float: right;"/>-->

<!--    </div>-->
    <div class="verify">

        <button id="verify-button" value="{{ verification_info }}" class="buv-c-verify-button_award">Проверить договор</button>
        {% if verification_result == 1 %}
        <p class="verified"><img id="verified-icon" src="/static/img/verified.png" style="max-width: 36px;max-height: 36px;"> договор существует в блокчейне</p>
        {% elif verification_result == 2 %}
        <p class="not-verified"><img id="recall-icon"
                                                          src="/static/img/not-verified.png" style="max-width: 36px;max-height: 36px;"> договор отозван </p>
        {% else %}
        <p class="not-verified"><img id="not-verified-icon"
                                                          src="/static/img/not-verified.png" style="max-width: 36px;max-height: 36px;"> договор не существует в блокчейне </p>
        {% endif %}
    </div>





<!--    <div class="issuer-id">-->
<!--        <strong>Сайт:</strong> <span class="issuer-id-url"><a style="cursor: pointer;text-decoration: none;color: inherit;font-size: 18px;" href="{{ url }}" target="_blank">{{ url }}</a></span>-->
<!--        <strong>Почта:</strong> <span class="issuer-id-url"><a style="cursor: pointer;text-decoration: none;color: inherit;font-size: 18px;" href="{{ email }}" target="_blank">{{ email }}</a></span>-->
<!--    </div>-->

    <a href="{% url 'index' %}" class="back-button">Проверить другой договор</a>
{% endblock %}
