{%extends 'base_generic.html' %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <label for="id_diplom_file" class="labelclass">Выбрать файл диплома для отзыва:</label>
    <table>
    {{ form.as_table }}

    </table>

        <span id="namefile" style="text-align: center; display: inherit; height: 20px; font-size: 20px;">Файл не выбран</span>


    <input class="buv-c-sumbit-button"  type="submit" value="Отозвать">
  </form>
    <a class="buv-c-back-button" href="{% url 'index'%}">Назад</a>
{% endblock %}